<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xietong.tita" >

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--读取内存卡的歌曲信息-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--使歌词界面常亮-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获得锁屏权限-->
    <uses-permission android:name="ANDROID.PERMISSION.DISABLE_KEYGUARD"/>
    <application
        android:name=".FinishApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/MusicStyle" >

        <activity android:name=".ActivityStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TiTa"
            android:label="@string/app_name" >
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" >
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LocalMusicSongListActivity">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService">
            <intent-filter>
                <action android:name="com.example.service.MUSIC_SERVICE"/>
            </intent-filter>
        </service>


        <activity
            android:name="downloadmp3.DownloadMp3"
            android:label="@string/app_name" >
        </activity>

        <activity android:name="downloadmp3.DownSongListActivity"></activity>

        <activity android:name="guide.dmemd"></activity>

        <service android:name="downloadmp3.DownloadService"></service>

        <activity android:name=".UserLogActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ChangeBackgroungActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".AppInfoActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActivitySetting">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".LockService">
            <intent-filter>
                <action android:name="com.example.service.LOCK_SERVICE"/>
            </intent-filter>
        </service>

        <activity android:name=".LockActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
